<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
    <title>About</title>
</head>

<body>
    {% include 'nav.html' %}
    <div class="about-background">
    {% include 'live_shapes.html' %}
    <span>
        <span></span>
        <span></span>
        <span></span>
    </span>
    <p>
        Malomat, a pioneering Data Analytics as a Service (DAaaS) and Insights as a Service (IaaS) provider, transforms organizational data into a powerhouse of insights and decisions.

        Specializing in AI-driven analytics, our services span from efficient data handling - including ingestion and cleansing - to advanced analytics with intuitive visualizations, dashboards, web apps, and presentations.

        We empower organizations to not just understand their data but to enact change, leading to enhanced efficiency, revenue growth, and customer satisfaction.

        By simplifying complex data processes, Malomat stands as your partner in navigating the data-driven landscape of today's business world.

        Discover how we can tailor our analytics solutions to your unique needs</p>
    </div>
</body>
</html>
