<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad&family=Comfortaa&Kalnia&Rethink+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="/static/styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/nav.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/start-background.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/middle-background.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/end-background.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/blobs.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/geoms.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/still_shapes.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/about-background.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/contact-background.css"/>
