<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
    <title>Malomat</title>
</head>
<body>
    {% include 'nav.html' %}

    <div class="start-background">
        {% include 'live_shapes.html' %}
        {% include 'text_appear.html' %}

        <h1 id="word1"></h1>
        <h1 id="word2"></h1>
    </div>

    <div class="middle-background">
        {% include 'still_shapes.html' %}
        <div class="headline">
            <div style="display: flex; align-items: center; position: relative; margin: 0">
                <h1 id="special"> Unlock the full potential of your data with AI-powered analytics and insights </h1>
                <img src="/static/images/lock.png" style="width: 25%;">
                <button class="modern-button">Contact us</button>
            </div>
            <p> Our comprehensive services, from data ingestion and cleansing to advanced visualizations and reporting, <span class="emphasis"> drive efficiency, revenue growth, and customer satisfaction. </span>

                As your partner in data-driven decision-making, we simplify complex data processes and customize solutions to meet your <span class="emphasis">unique needs</span></p>
        </div>

        <div class="content_box">
            <img src="/static/images/analytics.png">
            <div class="content_pair">
                <h2 class="highlight">AI-Driven Analytics:</h2>
                <p class="sub_text"> At Malomat, we harness the power of artificial intelligence to transform
                your data into actionable insights, ensuring you stay ahead in a data-driven world</p>
            </div>
        </div>

        <div class="content_box">
            <img src="/static/images/solution.png">
            <div class="content_pair">
                <h2 class="highlight">Comprehensive Data Solutions:</h2>
                <span class="sub_text"> From data ingestion and cleansing to sophisticated analytics
                and bespoke reporting - we cover it all. Save time and resources with our all-encompassing approach</span>
            </div>
        </div>

        <div class="content_box">
            <img src="/static/images/cube.png">
            <div class="content_pair">
                <h2 class="highlight">Tailored to Your Needs:</h2>
                <span class="sub_text"> Our services are not one-size-fits-all. We understand your unique
                challenges and tailor our solutions to fit your specific business requirements</span>
            </div>
        </div>

    </div>

    <div class="end-background">
        <h1>Streamline</h1>
    <p>By lifting the burden of data mining and analytics, we allow organizations to focus solely on decision-making and strategic planning,
        saving time, cutting costs, and optimizing the entire business.</p>

    <p style="margin: 50px auto;">Start Your Data Transformation Today
        Contact Us / Book a Demo</p>
    </div>

</body>
</html>
