
<nav class="ai-navbar">
            <a href="/">
            <img src="/static/images/logo.png" alt="Logo">
        </a>
    <ul>
        <li><a href="/about">About <i class="material-symbols-outlined"> token </i></a></li>
        <li><a href="#contact">Contact <i class="material-symbols-outlined"> contact_support </i> </a> </li>
        <li><a href="#projects">Projects <i class="material-symbols-outlined"> bid_landscape</i> </a> </li>
        <li><a href="#blogs">Blogs <i class="material-symbols-outlined"> newsstand </i> </a></li>
    </ul>
</nav>
