
.about-background {
    margin: 0;
    padding-top: 70px;
    position: relative;
    background: linear-gradient(135deg, #009688, white);
    min-height: 100vh;
    width:100%;
    z-index: -1;
}

.about-background p {
    width: 70%;
    font-size: 1.4em; /* Increase font size for modern look */
    line-height: 1.6; /* Improve readability */
    margin: 0 auto;
    white-space: pre-line;
    position: relative;
    z-index: 2;
}

.about-background > span {
    display: flex;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 1; /* Lower z-index */
}

.about-background > span > span {
    width: 100%;
    height: 500px;
    opacity: 0.85;
}

.about-background > span > div:nth-child(1) { background-color: salmon; }
.about-background > span > div:nth-child(2) { background-color: #30d5c8; }
.about-background > span > div:nth-child(3) { background-color: #1a4f7a; }
