
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the full height of the page is covered */
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    color: rgb(249, 247, 247);
}

body {
    background-color: rgb(249, 247, 247);
}

i {vertical-align: middle}

.malomat {
    font-size: 25px;
    background: linear-gradient(to right, rgb(245, 242, 242), #1a4f7a, #ff8a71);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: pulsate 7s ease-in-out infinite;
    background-size: 200% 100%;
}

.content_pair {
    display: flex;
    flex-direction: column; /* This stacks children vertically */
    align-items: center; /* This centers them horizontally */
    justify-content: center; /* This centers them vertically, if the container is taller than the combined height of the items */
}
