
.floating-blob {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle at 40% 30%, #1a4f7a 0%, #1a4f7a 60%, transparent 60%);
    opacity: 0.6;
    animation: float 6s ease-in-out infinite alternate;
    z-index: -1;
}

.blob-1 {
    width: 300px;
    height: 300px;
    top: 55%;
    left: 15%;
    background: radial-gradient(circle at 40% 30%, rgb(125, 200, 245) 0%, rgb(125, 200, 245) 60%, transparent 60%);
    border-radius: 50% 90% 40% 40% / 50% 50% 60% 65%;
}

.blob-2 {
    width: 250px;
    height: 270px;
    bottom: 50%;
    right: 50%;
    background: radial-gradient(circle at 40% 30%, #ff8a71 0%, #ff8a71 60%, transparent 60%);
}

.blob-3 {
    width: 300px;
    height: 250px;
    bottom: 55%;
    left: 75%;
    background: radial-gradient(circle at 40% 30%, #1a4f7a 0%, #1a4f7a 60%, transparent 60%);
    border-radius: 45% 55% 60% 40% / 40% 60% 35% 65%;
}


@keyframes float {
    0%, 100% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-20px) scale(1.1);
    }
}
