
.end-background {
    margin: 0;
    padding-top: 70px;
    position: relative;
    background: linear-gradient(135deg, #009688, #4db6ac);
    min-height: 100vh;
    width:100%;
    z-index: -1;
}

.end-background p {
    width: 50%;
}

