
.start-background {
    margin: 0;
    padding-top: 70px;
    position: relative;
    background: linear-gradient(135deg, #009688, #4db6ac);
    min-height: 100vh;
    width:100%;
    z-index: -1;
}

.letter {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.start-background h1 {
    font-size: 17rem;
    font-weight: bold;
    padding: 0;
    margin: 5%;
    overflow: hidden; /* Ensures that hidden letters don't take up space */
}

#word1 {
    text-align: left;
    margin-left: 7rem;
    font-weight: bold;
}

#word2 {
    text-align: right;
    margin: 0;
    margin-right: 7rem;
    font-weight: bold; /* Optional: makes the text thicker */
}

@keyframes pulsate {
    0%, 100% {
        background-position: 45% 0;
    }
    50% {
        background-position: 90% 0;
    }
}
